.marker-cluster {
    box-shadow: 0 2px 1px 1px rgba(0,0,0,0.2);
    border: 2px solid #FFF;
    box-sizing: content-box;
}
.marker-cluster div {
    color: #FFF;
}
.marker-cluster-small {
    background-color: rgba(0, 178, 89, 1);
}
.marker-cluster-small div {
    background-color: rgba(0, 178, 89, 1);
}

.marker-cluster-medium {
    /*background-color: rgba(241, 211, 87, 0.6);*/
    background-color: rgba(0, 224, 109, 1);
}
.marker-cluster-medium div {
    /*background-color: rgba(240, 194, 12, 0.6);*/
    background-color: rgba(0, 224, 109, 1);
}

.marker-cluster-large {
    /*background-color: rgba(253, 156, 115, 0.6);*/
    background-color: rgba(0, 255, 123, 1);
}
.marker-cluster-large div {
    /*background-color: rgba(241, 128, 23, 0.6);*/
    background-color: rgba(0, 255, 123, 1);
}