
/* This file is min-width: 992px */

div#roomDetailsPanelContentOverlay {
    display: none !important;
}

body.mapPage div#menuPanel {
    width: 500px !important;
}

body.mapPage div.unscrollablePageContainer.activePage {
    padding-right: 500px;
}

body.mapPage div#roomDetailsPanel a.closePanelButton {
    display: none;    
}

body.mapPage div#roomDetailsPanel {
    display: block;
    width: 500px !important;

    transform: none !important;
}

body.mapPage div.rightPanel {
    box-shadow: -5px 0 5px rgba(0, 0, 0, .15);
}

