
body {
    background-color: #e9e9ff
}

div.unscrollablePageContainer.activePage {
    width: 70% !important;
}

div#loginPage {
    width: 100% !important;
}

div#panelContentOverlay {
    display: none !important;
}

div.leftPanel, 
div.rightPanel {
    width: 30% !important;
    
    -webkit-transform: none !important;
    transform: none !important;
}

body.loginPage div.leftPanel,
body.loginPage div.rightPanel {
    display: none;
}

li.closeMenuPanelButtonListItem {
    display: none !important;
}

#mapMenuButton {
    display: none !important;
}