/********************/
/*       PAGES      */
/********************/

body, html {
    position: relative;

    overflow: hidden;
    margin: 0;

    padding: 0;
    width: 100%;

    height: 100%;

    background: #FFFFFF;
}

/* This is the top element for a given page, with data-role="page". It should be 100% of the viewport and not scrollable; scrolling happens in children */
div.unscrollablePageContainer {
    position: absolute;

    top: 0;
    left: 0;

    overflow: hidden;
    margin: 0;

    padding: 0;
    width: 100%;

    height: 100%;
}

/* Pages which are not visible */
div.unscrollablePageContainer.inactivePage {
    top: -200% !important;
    z-index: 5;
}

/* The single, currently active page which is visible */
div.unscrollablePageContainer.activePage {
    top: 0 !important;
    z-index: 10;
}

div.unscrollablePageContainer.inactivePage.duringTransition {
    z-index: 500;
}

div.unscrollablePageContainer.activePage.duringTransition {
    z-index: 1000;
}

/* Background for Login and About pages, nice radial glow */
/*div.radialBackground {
    background-image: radial-gradient(circle at 50% 60%, rgb(225, 225, 225), rgb(183, 220, 179));
}*/

/* This is the main content element for a given page; it has role="main" and .ui-content, should be scrollable, but does not necessarily fill 100% of screen */
.scrollableContent {
    position: relative;

    overflow-x: hidden;
    overflow-y: auto;

    margin: 0 !important;
    padding: 0 !important;
}

.fullHeight {
    height: 100%;
}

.fullHeightMinus45 {
    height: calc(100% - 45px);
}

.fullHeightMinus90 {
    height: calc(100% - 90px);
}

.fullHeightMinus135 {
    height: calc(100% - 135px);
}


div.page-container.login-page {
    padding: 3em;
}

div.page-container.login-page div.row {
    text-align: center;
    margin: 2em;
}


/**************************************/
/*      BOOTSTRAP ELEMENT STYLES      */
/**************************************/

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

/********************/
/*      PANELS      */
/********************/

/* General panel styles */

div#panelContentOverlay {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 15;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.8;
}

div.unscrollablePanelContainer {
    position: absolute;

    top: 0;

    z-index: 20;
    overflow: hidden;

    margin: 0;
    padding: 0;

    width: 100%;

    height: 100%;

    background: #ffffff;

    transition: transform 300ms ease-in-out;
}

/* Side specific styles */
div.leftPanel {
    right: auto;
    left: 0;

    -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 5px 0 5px rgba(0, 0, 0, .15);
    box-shadow: 5px 0 5px rgba(0, 0, 0, .15);
}

div.rightPanel {
    right: 0;
    left: auto;

    -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: -5px 0 5px rgba(0, 0, 0, .15);
    box-shadow: -5px 0 5px rgba(0, 0, 0, .15);
}

/* Side-specific open and close states */
div.leftPanel.inactivePanel {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

div.rightPanel.inactivePanel {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}

div.leftPanel.activePanel {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

div.rightPanel.activePanel {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/********************/
/*  GLOBAL ELEMENTS */
/********************/

div.pageHeader,
div.pageFooter {
    position: relative;
    height: 45px;

    border: none;
    background: #2c3e50;
    color: #fff;

    font-weight: bold;
}

div.pageHeader h1,
div.pageFooter h1 {
    position: relative;
    display: block;

    overflow: hidden;
    margin: 0 30%;
    padding: .7em 0;

    min-height: 1.1em;
    outline: 0;

    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 1em;
}

div.pageHeader h1.driverName {
    margin: 0 15%;
}

/******************************/
/*   NON-NATIVE LOADING BAR   */
/******************************/

/* Pages which need to be moved down to show this bar */

body.pushedDownByLoadingBar div.unscrollablePageContainer.activePage {
    top: 7px !important;
}
body.pushedDownByLoadingBar div.unscrollablePanelContainer.activePanel {
    top: 7px !important;
}
body.pushedDownByLoadingBar div#panelContentOverlay {
    top: 7px !important;
}
body.pushedDownByLoadingBar div.ui-widget-overlay.ui-front {
    top: 7px !important;
}

/* Loading bar container */
.loadingBar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7px;
}

/* The actual loading bar */
.loadingBar span {
    display: block;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #3366cc;
    background-color: #d3d3d3;
    background-image: -webkit-linear-gradient(
            -45deg,
            rgba(255, 154, 26, 1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 154, 26, 1) 50%,
            rgba(255, 154, 26, 1) 75%,
            transparent 75%,
            transparent
    );
    background-image: -moz-linear-gradient(
            -45deg,
            rgba(255, 154, 26, 1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 154, 26, 1) 50%,
            rgba(255, 154, 26, 1) 75%,
            transparent 75%,
            transparent
    );
    background-image: -ms-linear-gradient(
            -45deg,
            rgba(255, 154, 26, 1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 154, 26, 1) 50%,
            rgba(255, 154, 26, 1) 75%,
            transparent 75%,
            transparent
    );
    background-image: linear-gradient(-45deg, #3366cc 25%, transparent 25%, transparent 50%, #3366cc 50%, #3366cc 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    -webkit-box-shadow: inset 0 7px 0 rgba(255, 255, 255, .2);
    -moz-box-shadow: inset 0 7px 0 rgba(255, 255, 255, .2);
    box-shadow: inset 0 5px 0 rgba(255, 255, 255, .2);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -ms-animation: move 2s linear infinite;
    animation: move 2s linear infinite;
    -ms-box-sizing: border-box;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -ms-background-size: 50px 50px;
    -ms-box-shadow: inset 0 7px 0 rgba(255, 255, 255, .2);
}

.loadingBar > span:after {
    display: none;
}

/* Animate the stripes */
@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@-ms-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
