/********************/
/*      GLOBAL      */
/********************/

/* This is meant to fix the blue-highlight-on-click-event issue on older mobile webkit devices, and does for some, but sadly doesn't work for android 4.1.2 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body,
input,
select,
textarea,
button {
    /*font-size: 1em;*/
    font-family: Lato, sans-serif;
    line-height: 1.3;
}

body {
    background-color: #d6ffdf
}

.hidden {
    display: none !important;
}

.noselect, .noselect * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noMargin {
    margin: 0 !important;
}

.bold {
    font-weight: bold;
}

/*********************************/
/*       MENU PANEL CONTENT      */
/*********************************/

/* Menu panel is not full-width */
div#menuPanel {
    min-width: 14em;
    width: 80%;
}

div#menuPanel img.coordsLogo {
    display: block;
    width: 90%;
    padding-top: 2em;
    margin: 0 auto;
}

ul.menuPanelList {
    margin: 1em;
    padding: 0;
    border-radius: 0.4em;
    list-style: none;
}

ul.menuPanelList > li {
    position: relative;
    display: block;

    overflow: hidden;
    margin: 0;
    padding: 0;

    border: none;
    /* border: solid #16a085;
    border-right-width: 1px;
    border-left-width: 1px;*/
    background: #fff;

    color: #333;
    list-style: none;

    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.menuPanelList > li.panelSectionStart {
    margin: 0;
    padding: 0;
    height: 10px;
    border-top-width: 0;
    border-bottom-width: 0;
}

ul.menuPanelList > li.panelSectionListItem {
    border-top-width: 0;
    border-bottom-width: 0;

    margin-top: 0.5em;
}

ul.menuPanelList > li.panelSectionListItem a.btn {
    width: 100%;
    text-align: left;
    padding-left: 2em;
    box-sizing: border-box;
}

ul.menuPanelList > li.panelSectionListItem a.btn:before {
    position: absolute;
    left: 13px;
    top: 15px;
    
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

ul.menuPanelList > li.panelSectionEnd {
    display: none;
    margin: 0;
    padding: 0;
    height: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

ul.menuPanelList > li.panelSectionStart:first-child {
    border: none;
    
    /*border-top-width: 1px;

    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;*/
}

ul.menuPanelList > li.panelSectionEnd:last-child {
    display: block;
    height: 10px;

    border: none;

    /*border-bottom-width: 1px;

    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;*/
}


/*********************************/
/*          LOGIN PAGE           */
/*********************************/

img.coordsLogo {
    display: block;
    
    max-width: 90%;
    padding-top: 2em;
    margin: 0 auto;
}

/*********************************/
/*          MAP PAGE           */
/*********************************/

#map {
    height: 100%;
    width: 100%;
}

#mapMenuButton {
    position: absolute;
    top: 2em;
    right: 2em;
}

.fab {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    
    line-height: 56px;
    font-size: 20px;
    text-align: center;
}

.fab-glyphicon:before {
    display: block;
    
    position: absolute;
    height: 20px;
    width: 20px;

    top: 18px;
    left: 18px;
    
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
}

.fab.red {
    background-color: #d23f31;
}

.fab.blue {
    background-color: #4285f4;
}

.fab.green {
    background-color: #0f9d58;
}

.fab:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}

.leaflet-touch .leaflet-bar a {
    width: 36px;
    height: 36px;
    line-height: 36px;
}

.leaflet-touch .leaflet-control-gps .gps-button {
    width: 36px;
    height: 36px;
}

.leaflet-control-gps .gps-button {
    background: url('/images/maps-gps-icon.png') no-repeat 0 0;
}
.leaflet-control-gps .gps-button:hover,
.leaflet-control-gps .gps-button.active:hover {
    background: url('/images/maps-gps-icon.png') no-repeat -180px 0 #fff;
}
.leaflet-control-gps .gps-button.active {
    background: url('/images/maps-gps-icon.png') no-repeat -324px 0 #fff;
}
